#Home {
  text-align: center;
  background: url('../images/home-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
}

.home__container > h2 {
  font-size: var(--font-regular);
  color: var(--color-darkgrey);
  margin-top: 0px;
}
.home__avatar {
  width: 400px;
  margin: 50px 0px 30px 0px;
}

.home__title {
  font-size: var(--font-large);
}

.home__description {
  font-size: var(--font-medium);
  margin-top: 50px;
  margin-bottom: 30px;
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-semibold);
  margin: 10px 0px 100px 0px;
  padding: 20px 30px;
  background-color: var(--color-pastelyellow);
  border-radius: 50%;
  color: var(--color-darkgrey);
}

.home__contact:hover {
  background-color: vaR(--color-orange);
}

@media screen and (max-width: 768px) {
  #Home {
    padding: 5px;
  }

  .home__avatar {
    width: 300px;
    margin: 25px 0px 30px 0px;
  }
}
