#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-darkgrey);
  background-color: var(--color-lightblue);
  font-weight: var(--weight-semibold);
  height: 70px;
}

.nav_logo a {
  display: flex;
  align-items: center;
}

.nav_logo img {
  width: 50px;
  margin: 0px 10px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 5px 12px;
  margin: 5px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 50%;
}

.navbar__menu__item:hover {
  border: 2px solid white;
}

.navbar__toggle-btn {
  position: absolute;
  right: 23px;
  top: 10px;
  font-size: 24px;
  color: var(--color-darkgrey);
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__menu {
    flex-direction: column;
    width: 100%;
    align-items: center;
    display: none;
  }
  .nav_logo {
    position: absolute;
    left: 10px;
    top: 10px;
  }
}
