@import 'variables.css';

@import 'nav.css';
@import 'home.css';
@import 'aboutme.css';
@import 'skills.css';
@import 'works.css';
@import 'contact.css';

body {
  margin: 0px;
}

a {
  text-decoration: none;
  color: var(--color-darkgrey);
}

ul {
  list-style: none;
  padding: 0;
}
* {
  box-sizing: border-box;
  line-height: 170%;
}

/*Typography*/
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semibold);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-medium);
  margin: 8px 0px;
}

p {
  font-size: var(--font-small);
  font-weight: var(--weight-regualr);
  margin: 4px 0px;
}
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}

.section {
  text-align: center;
  margin-top: 50px;
}
.section__container {
  max-width: 1700px;
}

.arrow-up {
  position: fixed;
  bottom: 30px;
  right: 40px;
  font-size: 50px;
  color: white;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--animation-duration) ease-in;
}

.fa-arrow-up {
  background-color: var(--color-lightblue);
  border-radius: 50%;
  padding: 8px;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (max-width: 768px) {
  :root {
    --font-large: 23px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }
  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__menu {
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    display: none;
  }

  .navbar__menu.open {
    display: block;
    background-color: var(--color-lightblue);
    margin-top: 50px;
  }

  .nav_logo {
    position: absolute;
    left: 0px;
    top: 10px;
  }
  .arrow-up {
    position: fixed;
    bottom: 15px;
    right: 20px;
    font-size: 30px;
    color: white;
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--animation-duration) ease-in;
  }

  .fa-arrow-up {
    background-color: var(--color-lightblue);
    border-radius: 50%;
    padding: 8px;
  }

  .arrow-up.visible {
    opacity: 1;
    pointer-events: auto;
  }
  button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0;
  }
}
