@import 'variables.css';

@import 'nav.css';
@import 'home.css';
@import 'aboutme.css';
@import 'skills.css';
@import 'works.css';

body {
  margin: 0px;
}

a {
  text-decoration: none;
  color: var(--color-darkgrey);
}

ul {
  list-style: none;
  padding: 0;
}
* {
  box-sizing: border-box;
  line-height: 170%;
}

/*Typography*/
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semibold);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-medium);
  margin: 8px 0px;
}

p {
  font-size: var(--font-small);
  font-weight: var(--weight-regualr);
  margin: 4px 0px;
}
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.section {
  text-align: center;
  padding: 50px;
  margin: auto;
  margin-top: 50px;
}
.section__container {
  max-width: 1700px;
}
