:root {
  --color-white: #ffffff;
  --color-lightwhite: #dfdfdf;
  --color-darkgrey: #474747;
  --color-grey: #686868;
  --color-lightgrey: #9c9c9c;
  --color-lightblue: #cef0fd;
  --color-pastelyellow: #fff9c2;
  --color-orange: #ffcb00;
  --color-skyblue: #78d7f5;
  --color-yellowgreen: #5ae300;

  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 23px;
  --font-small: 16px;
  --font-micro: 14px;

  --weight-bold: 700;
  --weight-semibold: 600;
  --weight-medium: 500;
  --weight-regualr: 400;
}
