.main {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 220px;
  width: 100%;
}

.main img {
  width: 250px;
  margin-right: 100px;
}

.main img:hover {
  cursor: pointer;
}
.description {
  height: 500px;
  padding-top: 150px;
  width: 500px;
  margin-left: 50px;
}

@media screen and (max-width: 1291px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 160px;
  }
  .main img {
    margin-right: 0;
    margin-left: 20px;
  }
  .description {
    padding-top: 40px;
    align-items: center;
    text-align: center;
    height: 300px;
  }
  h2 {
    margin-bottom: 20px;
  }
}
